body {
  background-color: Gainsboro;
}

h1 {
  text-align: center;
  color: firebrick;
}

#image {
  text-align: center;
}

h3 {
  text-align: center;
  color: firebrick;
}

#entry {
  text-align: center;
}

#stringOutput {
  text-align: center;
  color: firebrick;
}

#source {
  text-align: center;
}

#btn {
  border: 8px solid black;
  background-color: lightgrey;
  color: firebrick;
  cursor: pointer;
}

#stringOutput{
  overflow: hidden;
  animation: typing 2s, blink-caret .75s step-end infine;
}

@keyframes typing {
  from {width: 0;}
  to {width: 100%}
}

@keyframes blink-caret {
  from, to {border-color: transparent }
  50%
}